#resto {
    background: linear-gradient(to left, blue, rgb(179, 98, 179), white, rgb(2, 111, 111));
    background-clip: text;
    display: inline;
    color: transparent;
    animation: animated 6s linear infinite;
    
}
    @keyframes animated {
    to {background-position-x: 161px;}
}

.outro { 
    display: block;
    margin: 20px;
    color: rgb( 34, 107, 185 ); 
    background: rgb(37, 37, 37);
    margin:3px;
    font-family: Shadows Into Light;
}

body{
    background: rgb(37, 37, 37);
}